.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  border: 1px solid #dbdbdb;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border-radius: 20px;
  overflow: hidden;
  overflow-x: auto;

}

.headerCell {
  color: #333333;
  font: normal normal bold 18px/23px helveticaNeue;
  padding: 10px 1px;
}

.cellStyle {
  padding: 17px 0;
  text-align: center;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}

.selectedCell {
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #f4364c;
}

.disabledCell {
  color: #bebebe;
}

.selectedDateStyle {
  font: normal normal bold 24px/29px helveticaNeue;
}

@media screen and (max-width: 500px) {
  .container {
    overflow-x: scroll;
  }
  .cellStyle {
    padding: 17px;
  }
}
