// paper & background
$paper: #f7f7f7;

// text colors
$mainTheme: #f4364c;

// default colors
$white: #ffffff;
$greyDB: #dbdbdb;
$greyCC: #cccccc;
$black00: #000000;
$black33: #333333;
$black2F: #2f2e41;
$black3F: #3f3d56;
$redF4: #f4364c;
$redFF: #ffb8b8;
$darkRedA0: #a0616a;
