@import "../../services/scss/variable";

.dashCrdWrp {
    // margin-bottom: 20px !important;

    .titleText {
        font-size: 24px;
        // margin: 0;
    }
    .centerTitle {
        text-align: center;
        a {
            color: $redF4;
        }
    }

    .cmnBox {
        background-color: $white;
        border-radius: 20px;
        box-shadow: 0px 1px 3px $greyDB;
        height: 100%;
        padding: 30px;
    }
    .cldCrdWrp {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        .cldBox {
            padding: 30px;
            background-color: $white;
            box-shadow: 0px 1px 3px $greyDB;
            border-radius: 20px;
            height: 100%;
        }
    }

    .welAdmin {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: url("../../services/images/bg/01Adm.png") no-repeat center;
        background-size: cover;
        p,
        h1,
        span {
            color: $white;
            margin: 0;
        }

        p {
            font-size: 24px;
            font-family: helveticaNeueExtraLight;
            font-weight: 100;
            line-height: 10px;
        }
        h1 {
            font-size: 40px;
        }
        span {
            font-size: 24px;
            font-weight: 200;
            display: block;
            margin-bottom: 10px;
        }
    }
    .screenDash {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .topBar {
            display: flex;
            justify-content: space-between;
            h3 {
                margin: 0;
            }
            span {
                font-family: helveticaNeueExtraLight;
            }
        }
        .stsCrdWrp {
            // margin-bottom: 20px;
            .stsBox {
                display: flex;
                align-items: center;
                justify-content: space-between;

                background-color: $redF4;
                border-radius: 20px;
                box-shadow: 0px 1px 3px $greyDB;
                height: 100%;
                padding: 30px;

                font-size: 25px;
                color: $white;

                b {
                    font-size: 40px;
                    color: $white;
                }
            }
        }
    }
    .deviceDash {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
            font-size: 18px;
            display: block;
            margin-bottom: 10px;
        }
        .deviceBtm {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
    .subscriptionDash {
        .top {
            font-size: 60px;
            sub {
                font-size: 18px;
                opacity: 0.8;
            }
        }
        .planIssue {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            font-size: 20px;
            span {
                display: block;
                opacity: 0.8;
                font-weight: 300;
            }
        }
    }
    .userManageDash {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .top {
            font-size: 40px;
            sub {
                font-size: 14px;
                opacity: 0.8;
            }
        }
    }
    .howToCrdWrp {
        margin-bottom: 20px;
        .howToBox {
            background-color: $greyDB;
            border-radius: 20px;
            border: 2px solid $greyCC;
            height: 100%;
            padding: 30px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgParentCrd {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;

                img {
                    max-width: 250px;
                }
            }
            .footerCrd {
                .titleText {
                    margin: 0;
                }
                span {
                    font-size: 20px;
                    a {
                        color: $redF4;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1536px) {
    .displayFlex {
        display: none;
        // display: flex;
        .cldCrdWrp {
            min-width: 100%;
            margin: 0;
            &:first-child {
                margin-right: 20px;
            }
        }
    }
    .cldCrdWrp {
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .stsCrdWrp {
        margin-top: 20px !important;
    }
}
